.breadcrumb {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  margin-bottom: 0;
  padding: 0.75rem 0;

  .breadcrumb-item {
    display: flex;
    align-items: center;

    &:not(:last-child)::after {
      align-self: center;
    }
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    min-height: 1.5rem;
  }
}
