.user-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #F59E42;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &.sm {
    width: 24px;
    height: 24px;
    font-size: 10px;
  }

  &.md {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }

  &.lg {
    width: 64px;
    height: 64px;
    font-size: 20px;
  }

  &.xl {
    width: 80px;
    height: 80px;
    font-size: 26px;
  }
}
