@import "tailwindcss";

@theme {
  --color-blue-500: #3b82f6;
  --color-red-500: #ef4444;
  --color-green-500: #22c55e;
  --color-yellow-500: #eab308;
  --color-purple-500: #a855f7;
  --color-gray-900: #111827;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-white: #ffffff;
  --color-black: #000000;
}
