name: Deploy on PR Merge

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to VPS
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout Code
        uses: actions/checkout@v3

      # SSH and execute commands on the server
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
              set -e
              cd /root/apps/d.church.admin
              git pull origin main
              source ~/.bashrc || source ~/.profile || true
              which node && which npm || (echo "Node.js/npm not found in PATH" && exit 1)
              npm install
              npm run build